$black: #484848;
$grey: #747474;
$light-grey: #999999;
$emerald: #37ae90;
$pink: #FF5A5F;

$nav-grey: rgb(228, 228, 228);
$listing-grey: rgb(118, 118, 118);
$listing-darkgrey: rgb(72, 72, 72);
$booking-request-border: #e4e4e4;